/*
-----------------------------
        Default values

        Font-Family         : Roboto Condensed
        
        Greenish Blue       :#34c6d3; (btn, icon, Links, Lines and Background)
        Steel Gray          :#41464b; (headings)
        Blue Bayoux         :#64707b; (para)
        White               :#fff;    (for balck-bg text)
        Black               :#000;    
-----------------------------
*/

/*
-----------------------------
|   |Generic CSs
-----------------------------
*/

body{
    font-family:'Roboto Condensed', sans-serif;
}







































/*
-----------------------------
|   |
-----------------------------
*/

/*
-----------------------------
Default values

Font-Family: Roboto Condensed
-----------------------------
*/